body, html {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app-background {
  background: url('./backround4.webp') center center no-repeat fixed;
  background-size: cover;
  height: 100%;
  position: relative;
}

