/* ComboVisuals.css */
/* Import the Orbitron font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.combo-visuals-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px; /* Padding for all sides */
    padding-top: 60px; /* Additional padding-top to push content down */
    box-sizing: border-box;
    margin-top: 80px; /* Adjust if necessary to give space below the navbar */
    margin-bottom: 10px;
    margin-left: 160px; /* Space at the bottom */
    height: auto; /* Allow container to grow with content */
    max-height: 880px; /* Adjusted to include padding and margins */
    background-color: transparent; /* Make the container fully transparent */
}

.character-combos {
    flex-grow: 1; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    min-width: 550px;
    width: 45%;
    overflow-y: auto;
    flex: 1 1 auto; /* flex-grow, flex-shrink, flex-basis */
    max-width: 45%;
    padding-top: 30px;
}

.character-combos::-webkit-scrollbar {
    display: none; /* Hide scrollbars for Webkit browsers */
}

.character-combos {
    -ms-overflow-style: none; /* Hide scrollbars for IE and Edge */
    scrollbar-width: none; /* Hide scrollbars for Firefox */
}

.combo-block {
    width: 100%;
    margin-bottom: 20px; /* More space after each combo block */
    padding: 15px; /* More padding inside combo blocks */
    background-color: #ffffff; /* Solid white background for combo blocks */
    border: 1px solid #bbb;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.combo-block:hover {
    background-color: #f0f0f0; /* Light grey background on hover for a subtle effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
