.combo-visuals-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.character-combos {
    width: 45%;
    margin: 0 10px;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the character images and combo blocks */
}

.character-combos img {
    max-width: 100px; /* Adjust the size of the character images as needed */
    margin-bottom: 20px; /* Space between the image and the first combo block */
}

.combo-block {
    border: 1px solid #bbb; /* Border for each combo block */
    margin-bottom: 10px; /* Space between each combo block */
    padding: 10px;
    width: 90%; /* Adjust the width as needed, relative to the character-combos container */
    box-sizing: border-box;
    background-color: #f8f8f8; /* Optional background color */
    cursor: pointer; /* Change cursor on hover */
}

.combo-block:hover {
    background-color: #f0f0f0; /* Slightly change background color on hover for visual feedback */
}

.combo-block.expanded {
    /* Styles for expanded block */
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust as needed */
    /* Other styling as needed */
}