/* Navbar.css */
nav {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000; /* High z-index to ensure it's above other content */
    font-family: 'Orbitron', sans-serif;
}

nav ul {
    display: flex;
    justify-content: space-between; /* Evenly space the nav items */
    align-items: center; /* Align items vertically */
    list-style-type: none;
    padding: 0 2rem; /* Add padding to the left and right */
    margin: 0 auto; /* Center the ul if there's extra space */
    max-width: 1200px; /* Maximum width of the nav */
    width: 100%; /* Full width */
}

nav a {
    text-decoration: none;
    color: #000; /* Dark color for contrast */
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

nav a:hover, nav a.active {
    color: #fff;
    background-color: #1E90FF; /* Pleasing blue color for background */
    border: 2px solid #187bcd; /* Border for active link */
}
